fastapi
uvicorn
pydantic
prometheus-fastapi-instrumentator
prometheus-client
pandas
numpy
scikit-learn
joblib
mlflow
torch
transformers
datasets
accelerate
beautifulsoup4
ftfy
openpyxl
langchain
langchain-ollama